<h1><%= @book.title %></h1>
<h3>Total quantity</h3>
<%= @book.total_quantity %>
<h3>Current quantity</h3>
<%= @book.current_quantity %>
<% if borrow_allow?(@book) %>
  <%= button_to "Borrow", borrow_book_path, { class: 'borrow-button'} %>
<% end %>


