<div class="ui container main">
  <h1>Transaction History</h1>
  <table class="ui basic table" id="transactions-table">
    <thead>
    <tr>
      <th>Borrowed books</th>
      <th>Borrowed at</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @my_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.book.title %></td>
        <td><%= transaction.borrowed_at %></td>
        <td><%= button_to "Return",return_book_path(transaction.book.id), { class: 'return-button ui button', method: :put} %></td>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <th colspan="3">
        <%= will_paginate @my_transactions, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
      </th>
    </tr>
    </tfoot>
  </table>
</div>
