<div class="ui container main">
  <h1>Transaction History</h1>
  <table class="ui basic table">
    <thead>
    <tr>
      <th>Borrowed books</th>
      <th>Borrowed at</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @my_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.book.title %></td>
        <td><%= transaction.borrowed_at %></td>
        <td><%= button_to "Return", nil, { class: 'return-button ui button'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
